.left {
  float: left;
}

.right {
  float: right;
}

body {
  background: url("../images/bg.png");
}

.logo {
  width: 62px;
  height: 102px;
  background: url("../images/logo.png");
  float: left;
  margin-right: 25px;
}

h1, h2 {
  font-family: Helvetica;
  font-weight: 200;
  margin-top: 25px;
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
  background: rgba(0, 0, 0, 0.1);
  padding: 4px;
}

hr {
  margin-top: 40px;
}

p em {
}

#navigation {
  margin-bottom: 30px;
  list-style: none;
}

#navigation li {
  margin: 0 20px 0 0;
  display: inline-block;
}

#footer {
  padding-bottom: 3em;
}

a {
  color: #3465a4;
}

input[type="text"] {
  width: 220px;
  padding: 4px;
}

code {
  font: 14px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FEFEFE;
  border: 1px solid #CCC;
  display: inline-block;
  color: #52595D;
  padding: 0 0.25em 0.05em;
}

form.search {
  margin-bottom: 2em;
}

ul.no_bullets li {
  list-style: none;
  margin-left: 0;
}

.instructions {
  font-size: 18px;
  margin-top: 20px;
}
