%h2 Feedback

%p
  Does the API serve your needs? Is there something missing or can we improve it to make using it more pleasant? We are interested in your feedback.

%p
  Send your feedback to labs (at) kirjastot.fi
