:textile
  h2. What

  Currently the API is read-only.

  This API uses "Helmet Library data":http://data.kirjastot.fi and provides search results in json and marcxml format.

  h2. How

  At the moment you can perform searches by: author, title or isbn.

  Depending on the format you want the search result to be in, you can change the parameter "format" in the url to either 'json' or 'marcxml'

  h3. By author:

  Example url

  _http://localhost:3000/search/author.json?query=Campbell_
  *OR*
  _http://localhost:3000/search/author.marcxml?query=Campbell_
      
  h3. By title:

  Example url

  _http://localhost:3000/search/title.json?query=raportti_
  *OR*
  _http://localhost:3000/search/title.marcxml?query=raportti_
    
  h3. By ISBN:
  
  Example url

  _http://localhost:3000/search/isbn.json?query=6420614617953_
  *OR*
  _http://localhost:3000/search/isbn.marcxml?query=6420614617953_

  h2. Output

  Depending on the format you requested in the url you can get:
  
  h3. JSON

  Output example

= hilight :javascript, %s|{"current_page":1,"per_page":5,"total_entries":1,"entries":[{"leader":"00485nam  2200169   4500","title_main":"\u00e4misty\u00f6ryhm\u00e4n raportti 1 :","helmet_id":"kr2043314X","author_main":null,"author_group":["Helsingin kaupunki."],"author":[],"description":["[16 s.] :"]}]}|
  
:textile
  h3. MARCXML

  Output example

= hilight :xml, %s|<record><stuff></stuff><record>|

:textile
  h2. Pagination for JSON format

= hilight :javascript, %s|{"current_page":1,"per_page":5,"total_entries":0,"entries":[]}|

:textile
  Every search result in json format will start always like in the example above.

  If the number of '_total_entries_' is bigger that the '_per_page_' attribute, you can change the '_current_page_' by adding to the end of the url '_&page=[the number of the page you wish to view]_' like in the example bellow:
  _http://localhost:3000/search/title.json?query=ja&page=2_

