:textile
  h2. What

  Currently the API is read-only.

  This API uses "Helmet Library data":http://data.kirjastot.fi and provides search results in json and marcxml format.

  h2. How

  At the moment you can perform searches by: author, title or isbn.

  Depending on the format you want the search result to be in, you can change the parameter "format" in the url to either 'json' or 'marcxml'

  h3. By author:

  Example url

  _http://localhost:3000/search/author.json?query=Campbell_
  *OR*
  _http://localhost:3000/search/author.marcxml?query=Campbell_
      
  h3. By title:

  Example url

  _http://localhost:3000/search/title.json?query=raportti_
  *OR*
  _http://localhost:3000/search/title.marcxml?query=raportti_
    
  h3. By ISBN:
  
  Example url

  _http://localhost:3000/search/isbn.json?query=6420614617953_
  *OR*
  _http://localhost:3000/search/isbn.marcxml?query=6420614617953_

  h2. Output

  Depending on the format you requested in the url you can get:
  
  h3. JSON

  Output example

:plain
  <div class="highlight"><pre><span class="p">{</span>
    <span class="s2">&quot;records&quot;</span><span class="o">:</span> <span class="p">[</span>
      <span class="p">{</span>
        <span class="s2">&quot;leader&quot;</span><span class="o">:</span><span class="s2">&quot;01913ngm  2200505   4500&quot;</span><span class="p">,</span>
        <span class="s2">&quot;title_main&quot;</span><span class="o">:</span><span class="s2">&quot;007 ja kultainen ase :&quot;</span><span class="p">,</span>
        <span class="s2">&quot;helmet_id&quot;</span><span class="o">:</span><span class="s2">&quot;cls0134937&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_main&quot;</span><span class="o">:</span><span class="s2">&quot;Hamilton, Guy&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_group&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;Hamilton, Guy&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Fleming, Ian.&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Maibaum, Richard&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Mankiewicz, Tom&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Moore, Ted&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Morris, Oswald&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Barry, John&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Moore, Roger&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Lee, Christopher&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Ekland, Britt&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Adams, Maud&quot;</span>
        <span class="p">],</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span><span class="p">[</span><span class="s2">&quot;1 DVD-levy (120 min) :&quot;</span><span class="p">]</span>
      <span class="p">},</span>
      <span class="p">{</span>
        <span class="s2">&quot;leader&quot;</span><span class="o">:</span><span class="s2">&quot;01198ngm  2200373   4500&quot;</span><span class="p">,</span>
        <span class="s2">&quot;title_main&quot;</span><span class="o">:</span><span class="s2">&quot;007 ja kultainen ase /&quot;</span><span class="p">,</span>
        <span class="s2">&quot;helmet_id&quot;</span><span class="o">:</span><span class="s2">&quot;kr30764009&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_main&quot;</span><span class="o">:</span><span class="s2">&quot;Hamilton, Guy&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_group&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;Hamilton, Guy&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Maibaum, Richard&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Mankiewicz, Tom&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Fleming, Ian.&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Moore, Roger&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Lee, Christopher&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Ekland, Britt&quot;</span>
        <span class="p">],</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span><span class="p">[</span><span class="s2">&quot;1 videokas. (2 h 5 min) :&quot;</span><span class="p">]</span>
      <span class="p">},</span>
      <span class="p">{</span>
        <span class="s2">&quot;leader&quot;</span><span class="o">:</span><span class="s2">&quot;01524ngm  2200409   4500&quot;</span><span class="p">,</span>
        <span class="s2">&quot;title_main&quot;</span><span class="o">:</span><span class="s2">&quot;007 ja kuoleman katse :&quot;</span><span class="p">,</span>
        <span class="s2">&quot;helmet_id&quot;</span><span class="o">:</span><span class="s2">&quot;cls0133420&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_main&quot;</span><span class="o">:</span><span class="s2">&quot;Glen, John&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_group&quot;</span><span class="o">:</span><span class="p">[</span>
          <span class="s2">&quot;Glen, John&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Maibaum, Richard&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Wilson, Michael G.&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Barry, John&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Moore, Roger&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Roberts, Tanya&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Jones, Grace&quot;</span>
        <span class="p">],</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span><span class="p">[</span><span class="s2">&quot;1 DVD-levy (2 h 7 min) :&quot;</span><span class="p">]</span>
      <span class="p">},</span>
      <span class="p">{</span>
        <span class="s2">&quot;leader&quot;</span><span class="o">:</span><span class="s2">&quot;00735nam  2200229   4500&quot;</span><span class="p">,</span>
        <span class="s2">&quot;title_main&quot;</span><span class="o">:</span><span class="s2">&quot;007 ja kuoleman katse :&quot;</span><span class="p">,</span>
        <span class="s2">&quot;helmet_id&quot;</span><span class="o">:</span><span class="s2">&quot;cls0033334&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_main&quot;</span><span class="o">:</span><span class="kc">null</span><span class="p">,</span>
        <span class="s2">&quot;author_group&quot;</span><span class="o">:</span><span class="p">[],</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span><span class="p">[</span><span class="s2">&quot;50 s. :&quot;</span><span class="p">]</span>
      <span class="p">},</span>
      <span class="p">{</span>
        <span class="s2">&quot;leader&quot;</span><span class="o">:</span><span class="s2">&quot;01225ngm  2200397   4500&quot;</span><span class="p">,</span>
        <span class="s2">&quot;title_main&quot;</span><span class="o">:</span><span class="s2">&quot;007 ja kuoleman katse /&quot;</span><span class="p">,</span>
        <span class="s2">&quot;helmet_id&quot;</span><span class="o">:</span><span class="s2">&quot;kr30844916&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_main&quot;</span><span class="o">:</span><span class="s2">&quot;Glen, John&quot;</span><span class="p">,</span>
        <span class="s2">&quot;author_group&quot;</span><span class="o">:</span><span class="p">[</span>
          <span class="s2">&quot;Glen, John&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Mailbaum, Richard&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Wilson, Michael G.&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Moore, Roger&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Roberts, Tanya&quot;</span><span class="p">,</span>
          <span class="s2">&quot;Jones, Grace&quot;</span>
        <span class="p">],</span>
        <span class="s2">&quot;description&quot;</span><span class="o">:</span><span class="p">[</span><span class="s2">&quot;1 videokas. (2 h 5 min) :&quot;</span><span class="p">]</span>
      <span class="p">}</span>
    <span class="p">],</span>
    <span class="s2">&quot;current_page&quot;</span><span class="o">:</span><span class="mi">1</span><span class="p">,</span>
    <span class="s2">&quot;per_page&quot;</span><span class="o">:</span><span class="mi">5</span><span class="p">,</span>
    <span class="s2">&quot;total_entries&quot;</span><span class="o">:</span><span class="mi">9</span>
  <span class="p">}</span>
  </pre></div>

  
:textile
  h3. MARCXML

  Output example

= hilight :xml, %s|<record><stuff></stuff><record>|

:textile
  h2. Pagination for JSON format

= hilight :javascript, %s|{"current_page":1,"per_page":5,"total_entries":0,"entries":[]}|

:textile
  Every search result in json format will start always like in the example above.

  If the number of '_total_entries_' is bigger that the '_per_page_' attribute, you can change the '_current_page_' by adding to the end of the url '_&page=[the number of the page you wish to view]_' like in the example bellow:
  _http://localhost:3000/search/title.json?query=ja&page=2_

