%h2 Documentation

%h3 Seach:
%em For now just json supported

%p You can search by: author, title or isbn
%p 
  %strong By author: 
  localhost:3000/search/author?query=Paul
  %br
  %strong By title: 
  localhost:3000/search/title?query=007+ja+kultainen+ase
  %br
  %strong By ISBN: 
  localhost:3000/search/isbn?query=6415751554957
%em these urls will show the first page with the first 5 search results

%p 
  %strong Add to the url &page=2 to view the next page