= render "shared/search"

%p{:style => "font-size: 18px; margin-top: 20px"} 
  This feature has been implemented for testing the API only. Please visit
  = link_to "helmet.fi", "http://helmet.fi"
  for a more accurate and advanced search.

%p This search is done by title. The results can be either in html, json or marcxml format.
  