-# This file is part of Library Catalog API
-# Copyright (C) 2011,2012  Kisko Labs Oy
-#
-# Library Catalog API is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

%h2 Search

= render "shared/search"

%p.instructions
  This feature has been implemented for testing the API. Please visit
  = link_to "helmet.fi", "http://helmet.fi"
  for a comprehensive search made only for humans.

%p The results can be either in html, json or marcxml format.
  
