= render "shared/search"

%p.instructions
  This feature has been implemented for testing the API. Please visit
  = link_to "helmet.fi", "http://helmet.fi"
  for a comprehensive search made only for humans.

%p The results can be either in html, json or marcxml format.
  